body {
    background-color: #0000ff ;
    color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: o;
  }
  
  button {
    background-color: #64A712;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  .passo {
    display: none;
  }
  
  .passo.ativo{
    display: block;
  }
  
  audio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }